.header {
  margin: 0 auto;
  text-align: center;
}
.wrapper {
  position: relative;
  width: 640px;
  margin: -140px auto 0;
}

.back {
  position: absolute;
  top: 170px;
  width: 640px;
  height: 640px;
  z-index: 0;
  background-color: #000;
  border-radius: 310px;
}

.pad {
  width: 300px;
  height: 300px;
  float: left;
  z-index: 1;
  margin: 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;
}

.shape1 {
  border-top-left-radius: 300px;
  background-color: green;
}

.shape1:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.shape2 {
  float: left;
  border-top-right-radius: 300px;
  background-color: red;
  clear: right;
}

.shape2:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.shape3 {
  float: left;
  border-bottom-left-radius: 300px;
  background-color: yellow;
  clear: left;
}

.shape3:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.shape4 {
  float: left;
  border-bottom-right-radius: 300px;
  background-color: blue;
}

.shape4:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.circle {
  position: absolute;
  top: 195px;
  left: 195px;
  width: 250px;
  height: 250px;
  background: #000;
  border-radius: 125px;
  z-index: 10;
}

.level, .score {
  width: 50%;
  float: left;
  text-align: center;
}

.startButton {
  width: 30%;
  margin: 0 auto;
}

.start {
  width: 100%;
  height: 30px;
  text-align: center;
}

.difficulty {
  text-align: center;
  margin-top: 30px;
  list-style: none;
}

.difficulty li {
  display: inline;
  padding: 10px;
}
